body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

.contenedor {
    margin-top: 30px;
}

.caja {
    width: 200px;
    height: 100px;
    background-color: lightgray;
    margin: 20px auto;
    line-height: 100px;
}

button {
    padding: 10px 20px;
    margin: 10px;
}
button:hover {
    background-color: #ddd;
    cursor: pointer;
}